*{
    margin: 0;
    padding: 0;
    
}
body{
    width: 100vw;
    height: 100vh;
    background-color: rgba(70, 69, 66, 0.692);
    img{
        // overflow: hidden;
        background-color: rgba(70, 69, 65, 0.685);   
    }
}

